* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.body {
    height: 100%;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}
.table{
    border: 2px solid #99bcc5b5 ;
    border-collapse:separate;
    border-spacing: 0px;
    width: 80%;
    margin-left: auto;
    border-radius: 3px;
    background-image: linear-gradient(to right, #e2d4de, #a5aebf);
    margin: 0 auto;
}

.file{
    border: 2px solid #b0a5a5b5;
    margin-top: 5px;
    text-align: center;
}
#head{
    background-color: antiquewhite;
    text-align: center;
}
.file:hover{
    background: #f2c8c8;
    color: rgb(83, 81, 79);
}
.file a{
    color: rgb(41, 60, 60);
    text-decoration: none;
    border-collapse:separate;
    border-spacing:10px 10px;
}
h2{
    display: block;
    text-align: center;
}
h4{
    display: block;
    text-align: center;
}
.upload{
    display: block;
    margin-left: 35%;

    
}
#upload{
    margin-top: 20px;
}