<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/index.css') }}">
    <title>局域网网盘</title>
</head>
<style>
    
</style>
<body style="margin-left:0 ;margin-right:0">
    <div class="body">
        <h2 >局域网网盘</h2>
        <h4 >点击文件即可下载</h4>
        <form action="/upload/file" method="post" enctype="multipart/form-data" class="upload">
            <div id="upload"><input type="file" multiple="multiple" accept="*" name="file"><input type="submit" value="上传"></div>
            <div id="upload"></div>
        </form>
        <table class="table">
            <tr id="head">
                <td class="td-name">文件名</td>
                <td class="td-size">大小</td>
                <td class="td-ctime">创建日期</td>
            </tr>
            {% for file in files %}
            <tr class="file">
                <td class="td-name" ><a href="/download/{{file.name}}" >{{file.name}}</a></td>
                <td class="td-size">{{file.size}} </td>
                <td class="td-ctime" style="width: 200px;">{{file.ctime}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

<script>
    window.history.replaceState(null, null, window.location.href);

    const schedule = document.querySelector(".schedule");
    function download() {
      const xhr = new XMLHttpRequest();
      const downloadUrl = document.getElementById(event)
      xhr.open('GET', downloadUrl, true);
      xhr.addEventListener('progress', function (event) {
        if (event.lengthComputable) {
        // lengthComputable判断所关联的资源是否具有可以计算的长度。否则 ，ProgressEvent.total 属性将是一个无意义的值。
          let percentComplete = event.loaded / event.total; // 计算下载进度（比例）
          schedule.innerText = percentComplete;
        }
      }, false);
      xhr.send();
    }
    var test = document.getElementsByTagName('a');
    for (var i = 0; i < test.length; i++) {
      test[i].onclick = function() {
        const xhr = new XMLHttpRequest();
        const downloadUrl = this.href
        xhr.open('GET', downloadUrl, true);
        xhr.addEventListener('progress', function (event) {
            if (event.lengthComputable) {
            // lengthComputable判断所关联的资源是否具有可以计算的长度。否则 ，ProgressEvent.total 属性将是一个无意义的值。
            let percentComplete = event.loaded / event.total; // 计算下载进度（比例）
            schedule.innerText = percentComplete;
            }
        }, false);
        xhr.send();
        
      }
    }

</script>
</body>
</html>
